
.header-div{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding:22px 30px;
  background-color: #1D1916;
  color: #E2941E;
  font-family:'Lato', sans-serif;
  font-size: 25px;
}
.categoryFilter{
  font-family:'Lato', sans-serif;
  color: #E2941E;

}
.category-div{
  padding: 10px;
}
.selector{
  width:18%;
  height:30px;
  font-family:'Lato', sans-serif;
  font-size: 15px; 
  cursor: pointer;
  border-color: #E2941E;
  background-color: white;
  border-radius: 10px;
}
.search{
  color: #E2941E;
  font-family:'Lato', sans-serif;

}
.search-div{

  text-align: center;
}
.search-input{
  width:50%;
  height:40px;
  border-radius: 10px;
  border-color: #E2941E;
  border-width: 1px;
  background-color: white;
}
.product-div{
  display: flex;
  flex-wrap: wrap;
}
.product{

   width: 17%;
  padding:35px; 
  padding-bottom: 30px;
  border:1px solid black;
  border-radius: 10px;
  border-color: #E2941E;
  margin-top: 25px;
  
}
.product:hover{
  transition: 0.3s;
  border: 1px solid gold;
  cursor: pointer;
}
.productTitle{
  display:-webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 40px; 
}

.img{
  width:40%;
  height: 150px;
}

.price{
  color: #E2941E;
  font-family:'Lato', sans-serif;
}
.priceInput{
  width:18%;
  height:26px;
  display: flex;
  margin-bottom: 5px;
  font-family:'Lato', sans-serif;
  border-color: #E2941E;
  background-color: white;
  border-radius: 10px;
  border-width: 1px;
}
.price-div{
  padding: 10px;
}
.button{
  width:95px;
  height: 30px;
  cursor: pointer;
  background-color: #f1b75f;
  border-radius: 5px;
  border:none;
  font-family:'Lato', sans-serif;
  font-size: 15px;
  text-align: center;
  transition: 0.3s;

  
}
.button:hover{
  background-color:white;
  color:#E2941E;
  font-weight: bold;
}
.cart-img{
  width:8%
}
.cart-info{

  font-size: 20px;
  color: #E2941E;
  font-weight: bold;
}
.title{
  cursor: pointer;
}
.cartListButton{
  background-color:white;
  color:#E2941E;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50%;
  width:25px;
  height: 25px;
}
.cartListButton:hover{
  background-color: #E2941E;
  color:#1D1916;
  cursor: pointer;
  font-family:'Lato', sans-serif;

}
.peice{
  font-size: 17px;
  font-family:'Lato', sans-serif;

}
.cart-div{
  padding:20px;
}
.totalAmount{
  font-size: 25px;
  font-family:'Lato', sans-serif;
  color: #E2941E;

}
.totalSpan{
  color: #1D1916;
}
.proceed-btn{
  width:20%;
  height:50px;
  background-color: #E2941E;
  font-family:'Lato', sans-serif;
  border-radius: 8px;
  border: none;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.proceed-btn:hover{
  opacity: 0.6;
  background-color: azure;
  color: #E2941E;
  font-weight: bold;
}
.proceed-div{
  display: flex;
  justify-content: center;
}
.card{
  display: flex;
  justify-content: center;
}